.hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.buy-button {
    margin-top: 15px;
    height: 45px;
    outline: none;
    border: none;
    background-color: green;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
}

.buy-button:hover {
    border-bottom: 2px solid black;

}

#carouselExampleAutoplaying {
    border: 2px solid black;
    padding: 10px;

}

#InformationBlock{
    border: 2px solid black;
}

#TopOfSelected {
    padding-bottom: 20px;
    padding-top: 10px;
}

.basket-button {
    margin-top: 2px;
    height: 45px;
    outline: none;
    border: none;
    background-color: gray;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
}

.basket-button:hover {
    border-bottom: 2px solid black;

}

.back-button {
    margin-top: 2px;
    height: 45px;
    outline: none;
    border: none;
    background-color: red;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
}

.back-button:hover {
    border-bottom: 2px solid black;

}

#Price1 {
    margin-top: 15px;
}